<!DOCTYPE HTML>
<html lang="zh-CN">
<%- partial('components/head') %>

<body>
  <% if( theme.google-adsense && theme.google-adsense.enable) { %>
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-3643487522951220">
    </amp-auto-ads>
  <% } %>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>

    <main class="site-main posts-loop">
    <%- body %>
    </main>

    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>
    <%- partial('components/baiduanalytics') %>
  </div>
</div>
</body>
</html>