<footer class="site-footer">
  <p class="site-info">
    <%= config.footer.beian %>
    </br>
    <% if (config.author){ %>
    &copy; <%= config.footer.since %> - <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= config.footer.since %> - <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
  </p>
</footer>