<footer class="site-footer">
  <p class="mp">
    <img alt="关注我" src="/mp.png" style="border-radius: 10px;" no-lazy>
  </p>
  <p class="site-info">
    <%= theme.footer.beian %> 
    </br>
    <% if (config.author){ %>
    &copy; <%= theme.footer.since %> - <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= theme.footer.since %> - <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
  </p>
</footer>